<!DOCTYPE html>
<html lang = "eng">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialogue Annotation</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <!-- CSS custom stylesheet -->
  <link rel="stylesheet" href="css/default.css">
</head>

<body class="body" style ="background: #f4f4f4">
  <div class="container">
    <br>
    <div class = "row">
      <br>
      <div class = "col s12 z-depth-2 card-panel">
        <div class = "s12"> 
          <br>
          <h1 class = "center"><font style = "font-weight: 100;">Incorrect Quiz Answers</font></h1>
        </div>
        <div class = "col s12">
          <br>
          <div class = "col s11 push-s1" id = "main">
            <div id = "filler">
            </div>
            <br>
            <br>
            <br>
            <br>
            <a style = "background: #3ece4b;" class="waves-effect waves-light btn-large" onclick = "submit()">Continue to Annotation</a>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<!-- Minified D3.js -->
<script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
<script src="js/quiz_corrections.js"></script>
</body>
</html>
